/* ____________________Common styles____________________ */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

svg {
  fill: none;
}

/* ____________________Header styles____________________ */

.page-header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header .page-logo {
  margin-right: 76px;
}

span.header-logo-color {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.page-nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}

.page-nav-link.active {
  color: #404bbf;
}

.page-nav-link.active::after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.page-nav-link:hover,
.page-nav-link:focus {
  color: #404bbf;
}

.page-nav-link:active {
  color: #404bbf;
}

.page-address {
  font-style: normal;
}

.page-address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.page-address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-address-link:hover,
.page-address-link:focus {
  color: #404bbf;
}

.page-address-link:active {
  color: #404bbf;
}

/* ____________________Solutions styles____________________ */

.solutions {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, 1440px;
}

.solutions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutions-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
}
.solutions-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.solutions-button:hover {
  background-color: #404bbf;
}

.solutions-button:active {
  background-color: #404bbf;
}

.solutions-button:focus {
  background-color: #404bbf;
}

/* ____________________Advantages styles____________________ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-list-item-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 100%;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.advantages-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-list-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ____________________Our Team styles____________________ */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list-item-description {
  padding: 32px 0;
}

.team-list-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-list-item-social-media-link-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team .social-media-link:hover,
.team .social-media-link:focus,
.team .social-media-link:active {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ____________________Portfolio styles____________________ */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-list-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  display: block;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 40px 32px 0 32px;
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ____________________Footer styles____________________ */

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .page-logo {
  display: inline-block;
  margin-bottom: 16px;
}

span.footer-logo-color {
  color: #f4f4fd;
}

.page-footer-text {
  display: flex;
  align-items: center;
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer .container {
  display: flex;
  gap: 120px;
}

.footer-social-meadia-title {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-media-link-list {
  display: flex;
  gap: 16px;
}

.page-footer .social-media-link:hover,
.page-footer .social-media-link:focus,
.page-footer .social-media-link:active {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
